---
title: Caricatures
description: Caricatures have always been a strong point for Michael Terry, drawing them long before becoming an illustrator.
---
<!DOCTYPE html>
<html>
    <head>
        <title>Michael Terry :: {{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="copyright" content="Michael Terry"/>
        <meta name="description" content=""/>
        <meta name="keywords" content="" />
        <meta name="robots" content="index,follow" />
        <meta name=viewport content="width=device-width, initial-scale=1">

        <meta property="og:type" content="article" />
        <meta property="og:title" content="Michael Terry :: {{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:image" content="{{ site.github.url }}/img/miketerry.jpeg" />
        <meta property="og:url" content="{{ site.github.url }}/caricatures.html" />
        <meta property="og:site_name" content="Micheal Terry" />

        <meta name="twitter:title" content="Michael Terry :: {{ page.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:image" content="{{ site.github.url }}/img/miketerry.jpeg">
        <meta name="twitter:site" content="@{{ page.twitter_username }}">
        <meta name="twitter:creator" content="@{{ page.twitter_username }}">

        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet"/>

       {% include javascript.html %}
    </head>
    <body>
        {% include masthead.html %}
        <!--container-->
        <div class="lm_container">
            
            <div class="lm_content_holder lm_max_width">
                <h2>{{ page.title }}</h2>
                <p>
                    Caricatures have always been a strong point for Michael Terry, drawing them long before becoming an illustrator. Having produced many for big media companies, such as TV Times, Punch, The Times, Sunday Telegraph, Observer Magazine and the Queens Club Tennis Tournament, as well as for well-known individuals themselves, such as Stephen Fry.
                </p>
                <p>
                    To discuss your requirements please get in touch <a href="mailto:mike@thepaintbrush.co.uk&subject=Caricatures">mike@thepaintbrush.co.uk</a>
                </p>
            </div>

            <div class="lm_image_grid lm_max_width">
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Dr-Who--203x300.jpg');">

                        </div>
                    </div>
                </div>
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Alan-Winner-247x300.jpg');">

                        </div>
                    </div>
                </div>
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Alister-Cook-212x300.jpg');">

                        </div>
                    </div>
                </div>
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Andy-Murry--214x300.jpg');"></div>
                    </div>
                </div>

                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Boris-Johnson--287x300.jpg');">

                        </div>
                    </div>
                </div>
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Donald-Trump--300x282.jpg');">

                        </div>
                    </div>
                </div>
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Graham-Nortan--208x300.jpg');"></div>
                    </div>
                </div>
                
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Russell-Brand--212x300.jpg');">

                        </div>
                    </div>
                </div>

                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Pete-Doherty--211x300.jpg');">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>