---
title: Children's Books
description: Children's book illustration is one of Michael Terry's strong points.
---
<!DOCTYPE html>
<html>
    <head>
        <title>Michael Terry :: {{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="copyright" content="Michael Terry"/>
        <meta name="description" content=""/>
        <meta name="keywords" content="" />
        <meta name="robots" content="index,follow" />
        <meta name=viewport content="width=device-width, initial-scale=1">

        <meta property="og:type" content="article" />
        <meta property="og:title" content="Michael Terry :: {{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:image" content="{{ site.github.url }}/img/miketerry.jpeg" />
        <meta property="og:url" content="{{ site.github.url }}/childrens_books.html" />
        <meta property="og:site_name" content="Micheal Terry" />

        <meta name="twitter:title" content="Michael Terry :: {{ page.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:image" content="{{ site.github.url }}/img/miketerry.jpeg">
        <meta name="twitter:site" content="@{{ page.twitter_username }}">
        <meta name="twitter:creator" content="@{{ page.twitter_username }}">

        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet"/>

       {% include javascript.html %}
    </head>
    <body>
        {% include masthead.html %}
        <!--container-->
        <div class="lm_container">
            
            <div class="lm_content_holder lm_max_width">
                <h2>{{ page.title }}</h2>
                <p>
                    Children's book illustration is one of Michael Terry's strong points. He loves working on them as it gives him the freedom and imagination free-rein any artist should revel in. A few of his hit works include the likes of 'The Selfish Crocodile,' 'Little Hotchpotch,' 'Rhino's Horns,' 'Sulky Vulture,' 'Captain Wag the Pirate Dog' and a number of Dick King-Smith's books.
                </p>
                <p>
                    To discuss your requirements please get in touch <a href="mailto:mike@thepaintbrush.co.uk&subject=Childrens book">mike@thepaintbrush.co.uk</a>
                </p>
            </div>

            <div class="lm_image_grid lm_max_width">
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Crunch-Munch-284x300.jpg');">

                        </div>
                    </div>
                </div>
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Fox-300x300.jpg');">

                        </div>
                    </div>
                </div>
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Lion-Mouse-jungle--300x219.jpg');">

                        </div>
                    </div>
                </div>
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Raccoon--300x226.jpg');"></div>
                    </div>
                </div>

                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Tortoise-and-Hare-night--300x272.jpg');">

                        </div>
                    </div>
                </div>
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Dragon-300x208.jpg');">

                        </div>
                    </div>
                </div>
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Fox-1-300x190.jpg');"></div>
                    </div>
                </div>
                
                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Giant-237x300.jpg');">

                        </div>
                    </div>
                </div>

                <div class="lm_image_block">
                    <div class="lm_image_block_img">
                        <div class="lm_image_block_img_bg" style="background-image: url('img/Pirate-253x300.jpg');">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
