---
title: Illustrator, Writer and Artist
description: Michael Terry ILLUSTRATOR, WRITER AND ARTIST.
---
<!DOCTYPE html>
<html>
    <head>
        <title>Michael Terry :: {{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="copyright" content="Michael Terry"/>
        <meta name="description" content="{{ page.description }}"/>
        <meta name="keywords" content="" />
        <meta name="robots" content="index,follow" />
        <meta name=viewport content="width=device-width, initial-scale=1">

        <meta property="og:type" content="article" />
        <meta property="og:title" content="Michael Terry :: {{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:image" content="{{ site.github.url }}/img/miketerry.jpeg" />
        <meta property="og:url" content="{{ site.github.url }}/" />
        <meta property="og:site_name" content="Micheal Terry" />

        <meta name="twitter:title" content="Michael Terry :: {{ page.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:image" content="{{ site.github.url }}/img/miketerry.jpeg">
        <meta name="twitter:site" content="@{{ page.twitter_username }}">
        <meta name="twitter:creator" content="@{{ page.twitter_username }}">

        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/index.js" type="text/javascript"></script>
        <script src="https://kit.fontawesome.com/77f14b9ec9.js" crossorigin="anonymous"></script>

    </head>
    <body>
        {% include masthead.html %}
        <!--container-->
        <div class="lm_container">

            <div class="lm_selected_product_top_img lm_max_width">
                <div class="lm_block_mid_cont">
                    <!-- Full-width images with number and caption text -->
                    <div class="lm_slide_show_slides lm_fade" style="background-image: url('img/Jack-and-the-Beanstalk-C-copy.jpg');">
                        <div class="lm_slide_des lm_max_width">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="lm_slide_show_slides lm_fade" style="background-image: url('img/Captain-Wag.jpg');">
                        <div class="lm_slide_des lm_max_width">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="lm_slide_show_slides lm_fade" style="background-image: url('img/Tiger-listening-to-bird.jpg');">
                        <div class="lm_slide_des lm_max_width">
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <!-- The dots/circles -->
                <div class="lm_slide_show_dots">
                    <span class="lm_dot" onclick="currentSlide(0)"></span>
                    <span class="lm_dot" onclick="currentSlide(1)"></span>
                    <span class="lm_dot" onclick="currentSlide(2)"></span>
                </div>
            </div>
            
            <div class="lm_content_holder lm_max_width">
                <div class="lm_profile_block">
                    <div class="lm_profile_block_img"></div>
                    <h4>Michael Terry</h4>
                    <p>ILLUSTRATOR, WRITER AND ARTIST</p>
                    <div class="lm_profile_block_social"></div>
                </div>
                <h2>My Story</h2>
                <p>
                    I was born in 1947 in Folkestone on the Kent coast. After living abroad and moving around the country I arrived back in Folkestone, there I later went to Art College from 1964 to 1967 studying graphic design and illustration.
                </p>
                <p>
                    In 1967 I moved to London and worked in various design groups and advertising agencies as a designer and typographer. By 1972 I had gone freelance as an illustrator producing work for advertising, editorial and publishing and quickly gained a reputation in these fields.
                    During this time I was awarded a D&AD award for illustration and a Mecanorma award for best poster illustration, my illustrations have appeared in many exhibitions and annuals.
                </p>
                <p>
                    Over a large part of my years as an illustrator I was successfully represented by Folio, who helped me in becoming recognized as one of the British illustrators.
                    Some of the clients I produced work for are: Cadburys, British Airways, Quantas, Midland Bank (HSBC), Vintage Inns, Ikea, Queens Club tennis tournament, Puffin Books, Little Tiger Press, Bloomsbury Children's Books, Gullane Children's Books, The Times, Observer and Telegraph.
                    USA clients have been: Readers Digest Children's Books, Golden Books (Random House) and Scholastic.
                </p>
                <p>
                    Since the mid 90's I have been equally successful in children's books and have produced illustrations and written for many books in this field.
                    Two of my books have been short-listed for awards, 'The Wide Mouthed Frog' by the Bishops Stotford Children's Book Awards and 'Crunch Munch Dinosaur Lunch' by the Redhouse Children's Book Award.
                </p>
                <p>
                    Recently I have ventured into fine art which can be seen on this site and my work is showing in the Lilford Framing Gallery in Canterbury and the South Galleries in Maidstone also I am on the <a href="https://www.saatchiart.com/mike47">Saatchi online site</a>.
                </p>
            </div>

            <div class="lm_service_grid lm_max_width">
                <div class="lm_service_block">
                    <div class="lm_service_block_img">
                        <div class="lm_service_block_img_bg" style="background-image: url('img/Vikings--260x300.jpg');">

                        </div>
                    </div>
                    <div>
                        <h2>Custom Sketching</h2>
                        <p>
                            Perfect for those looking for a creative, personal and quality gift or image for the home.
                        </p>
                    </div>
                </div>
                
                <div class="lm_service_block">
                    <div class="lm_service_block_img">
                        <div class="lm_service_block_img_bg" style="background-image: url('img/Boris-Johnson--287x300.jpg');">

                        </div>
                    </div>
                    <div>
                        <h2>Caricatures</h2>
                        <p>
                            Surprise a friend or relative with a hand painted caricature of themselves.
                        </p>
                    </div>
                </div>

                <div class="lm_service_block">
                    <div class="lm_service_block_img">
                        <div class="lm_service_block_img_bg" style="background-image: url('img/Fish-in-rain-246x300.jpg');">

                        </div>
                    </div>
                    <div>
                        <h2>Design</h2>
                        <p>
                            Let Mike use his creative flare to design and create some perfect branding for your business.
                        </p>
                    </div>
                </div>

                <div class="lm_service_block">
                    <div class="lm_service_block_img">
                        <div class="lm_service_block_img_bg" style="background-image: url('img/Jillted-Man-300x300.jpg');">

                        </div>
                    </div>
                    <div>
                        <h2>Commercial</h2>
                        <p>
                            Creative marketing, commercial advertising and media illustration, notably magazine covers.
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        {% include footer.html %}
    </body>
    <script>
        showSlides();
    </script>
</html>