---
title: Shop
description: Purchase a variety of bookings illustrated and authored by Micheal Terry.
---
<!DOCTYPE html>
<html>
    <head>
        <title>Michael Terry :: {{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="copyright" content="Michael Terry"/>
        <meta name="description" content=""/>
        <meta name="keywords" content="" />
        <meta name="robots" content="index,follow" />
        <meta name=viewport content="width=device-width, initial-scale=1">

        <meta property="og:type" content="article" />
        <meta property="og:title" content="Michael Terry :: {{ page.title }}" />
        <meta property="og:description" content="{{ page.description }}" />
        <meta property="og:image" content="{{ site.github.url }}/img/miketerry.jpeg" />
        <meta property="og:url" content="{{ site.github.url }}/advertising.html" />
        <meta property="og:site_name" content="Micheal Terry" />

        <meta name="twitter:title" content="Michael Terry :: {{ page.title }}">
        <meta name="twitter:description" content="{{ page.description }}">
        <meta name="twitter:image" content="{{ site.github.url }}/img/miketerry.jpeg">
        <meta name="twitter:site" content="@{{ page.twitter_username }}">
        <meta name="twitter:creator" content="@{{ page.twitter_username }}">

        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet"/>

       {% include javascript.html %}
    </head>
    <body>
        {% include masthead.html %}
        <!--container-->
        <div class="lm_container">
            <div class="lm_content_holder lm_max_width">
                <h2>{{ page.title }}</h2>
                <p>
                    A selection of books published and available to buy.
                </p>
            </div>

            <div class="lm_image_grid lm_max_width">

                {% assign books_sorted = site.data.books | sort: 'title' %}
                {% for book in books_sorted %}
                    <div class="lm_image_block">
                        <a target="_blank" href="{{ book.shop_url }}">
                            {{ book.title }}<br>
                            <img src="{{ book.image_url }}"/>
                            <div class="shop">
                                <span>Shop Now</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
