        <!--FOOTER START-->
        <div class="lm_footer">
            <div class="lm_footer_inner lm_max_width">
                <a href="https://twitter.com/{{ page.twitter_username }}" target="_blank" class="lm_footer_inner_social lm_social_twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.facebook.com/miket1947" target="_blank" class="lm_footer_inner_social lm_social_facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.linkedin.com/in/paintbrushmike/" target="_blank" class="lm_footer_inner_social lm_social_linked">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://logicmodule.io" target="_blank" class="lm_footer_inner_social lm_social_logicmodule">
                    <i class="fad fa-cogs"></i>
                </a>
            </div>
        </div> 
        <!--FOOTER END-->
