        <!--masthead-->
        <div class="lm_masthead_container lm_sticky" id="lm_masthead_container">
            <nav class="lm_masthead lm_max_width">
                <div class="lm_mobile"><div class="lm_masthead_icons"><div id="nav-icon1"><span></span><span></span></div></div></div>
                <div class="lm_masthead_logo"><a href="index.html"><img src="img/logonew.png" alt="Michael Terry"/></a></div>
            </nav>
            <div class="lm_menu" id="lm_menu">
                <nav class="lm_max_width">
                    <a href="index.html">Michael Terry</a>
                    <a href="advertising.html">Advertising</a>
                    <a href="caricatures.html">Caricatures</a>
                    <a href="childrens_books.html">Children's books</a>
                    <a href="editorial.html">Editorial</a>
                    <a href="fine_art.html">Fine art</a>
                    <a href="shop.html">Shop</a>
                </nav>
                
            </div>
        </div>
        <!--End of masthead-->
